@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(72, 72, 192);
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
}
h1{
    color: rgb(219, 219, 219);
}
div{
    position: absolute;
    bottom: 20px;
    background: yellow;
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 10px;
}
input{
    width: 50px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(64, 226, 161);
    border: none;
    border-radius: 05px;

}
input:focus{
    outline:none;
}